<head>
    <title>Conference API</title>
    <link rel="stylesheet" href=
    "netdna.boostrapcdn.com/font-awesome/4.0.3/css/font-awesome.min/css"/>
    <link rel="stylesheet" href=
    "bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css"/>


</head>